/* -------------------------------------
   VARIABLES Y CONFIGURACIÓN GENERAL
---------------------------------------- */
@charset "UTF-8";

// Importar variables
@import "utilidades/variables";

// Importar mixins
@import "utilidades/mixins";

// Importar consultas de medios
@import "utilidades/media-queries";

//importar stylos de los html//
@import "secciones/contacto";

@import "secciones/index";

@import "secciones/servicios";

@import "secciones/planes";

@import "secciones/trabaja";





/* -------------------------------------
   ESTILOS GENERALES
---------------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; /* Fuente predeterminada */
}

/* -------------------------------------
   MENÚ DE NAVEGACIÓN
---------------------------------------- */
.navbar-brand {
  width: 150px;
  height: auto;
  
}

.nav {
  border: 1px solid #fff;
  background-color: #333;
  padding: 10px;
  
}
.nav-item{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}




/* -------------------------------------
   TÍTULOS Y CONTENIDO PRINCIPAL
---------------------------------------- */
.titulo-principal {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  margin-bottom: 30px;
}

.titulo-secundario {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center; /* Asegura el centrado horizontal */
  text-transform: uppercase;
  color: white;
  text-decoration:underline;
  margin-bottom: 30px;
  max-width: 80%; /* Ajusta el valor según tu diseño */
  margin: 20px auto; /* Centra el contenedor horizontalmente y agrega un margen vertical */
}
.titulo-terciario {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center; /* Asegura el centrado horizontal */
  text-transform: uppercase;
  color:black;
 margin-bottom: 30px;
}


.descripcion-principal {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #bfd104;
  font-size: 22px;
  margin-bottom: 40px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* -------------------------------------
   CONTENIDO PRINCIPAL
---------------------------------------- */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
img {
  max-width: 100%;
  height: auto;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
  
}


li {
  margin-bottom: 10px;
}

/* -------------------------------------
   EFECTOS DE ANIMACIÓN
---------------------------------------- */
@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.25);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 25%;
  animation-fill-mode: both;
}
/* -------------------------------------
   PIE DE PÁGINA
---------------------------------------- */
.footer {
  background-color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #828282;
  margin-top: 25%;
  padding: 20px;
}
