body {
    padding: 0;
    margin: 0;
    background-color:#31475e;
}

nav {
    position: fixed;
    z-index: 7;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #31475e;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
}

nav .list a:hover{
    background-color: #0bA89C;
}

#toggle {
    position: absolute;
    top: -100px;

}

nav  .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%);


}
nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3 ease-in-out;
}
/* media*/
@media(max-width:768px) {
    nav .logo{
        float:none;
        width: auto;
        justify-content: center;
    }
    nav .list{
        float:none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #2a3b51;
        overflow: hidden;
        transition: all  .5s ease-in-out;}
    nav .list a{
        font-size: 20px;
    }
    nav :checked ~ .list{
        bottom:0;
    }
    nav .icon-bars{
        display:block;
    }





}
/* stilo menu principal*/

    .titulo-principal{
      
        text-align: center;
        color: #333;
        background-color:#31475e;
        padding: 200px;
        margin-top: auto;
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        

     
        
        
        
    }
    .titulo-secundario{
        text-align: center;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black
    }
       
    .descripcion-principal{
    
        color:#ffffff;
        background-color: #333;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        border-radius: 16px;
        border: 2px solid black
        
    
    }




    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        
    }

    .footer{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        

    }

    /*modificaremos contacto*/
    .contac{
        background-color: #333;
    }
    
    .principal {
        text-align: center;
        margin-top: 200px;
        padding: auto;
    }

    .principal h3 {
        color: #31475e;
    }

    .principal p {
        color:#ffffff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        border-radius: 16px;
        border: 2px solid black
        
    }

    .celular, .email {
        width: 100px; 
        height: 100px; 
        margin: 20px;
    }
  .numero{
    text-align: center;
  }

 

  

  /*servicios style*/

  .servicios{

    text-align: center;
    margin-top: 150px;
    padding: auto;
    background-color:#31475e;
        
    }

    .servicios h1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black


    }

    .servicios h2{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black
    }

    

    
    .servicios p{
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333;
    }

    .paramedicos {
        text-align: center;
        padding: auto;
        background-color:#31475e;
    }
    .paramedicos p{

        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333;
    }
   
   
   
    .medicos h2{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        text-align: center;
        margin: 0;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black
    } 
    
    .medicos p {
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333;
    

    }

    /*Trabaja aqui */

    .trabaja{

        background-color:#31475e;
        text-align: center;
        margin-top: 150px;
        padding: auto;
    }

    .trabaja h2{
        text-align: center;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black
    }
    .trabaja h3{
        text-align: center;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        border-radius : 16px;
        border: 2px solid black

    }
    .trabaja p{

        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333; 
    }
     .trabaja a{

        color:#31475e;
        
     }
     .contactanos{  
        text-align: center;
        text-decoration: underline;
        font-weight: bold;

        
    
        
    
    }

    /* Planes se realiza cambios de imagenes en los planes y lo hacemos responsive  */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

    nav {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.imgbronce,
.imgplata,
.imgoro {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.plan-a,
.plan-b,
.plan-c {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
}


@media (max-width: 768px) {
    nav {
        grid-template-columns: 1fr; 
        text-align: left;
    }

    .list {
        flex-direction: column;
        align-items: flex-start;
    }
}
 .bronce
   {
    text-align: center;
    margin-top: 150px;
    padding: auto;
    background-color:#31475e;

   }

   .bronce h2{

    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color:#333;
    border-radius : 16px;
    border: 2px solid black

   }

   .bronce p{
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333; 

   }

   .plan-a{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-align: left;
    color: whitesmoke;
    background-color: #31475e;
    margin: 0;
    font-size: 20px;



   }
   .plata {
        text-align: center;
        margin-top: 150px;
        padding: auto;
        background-color:#31475e;
    }
    .plata h2{

        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        ;
        border-radius : 16px;
        border: 2px solid black
    }
    .plata p{

        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333; 
    }

    .plan-b{

        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
        text-align: left;
        color: whitesmoke;
        background-color: #31475e;
        margin: 0;
        font-size: 20px;
    }

    .oro{

        text-align: center;
        margin-top: 150px;
        padding: auto;
        background-color:#31475e;
    }
    .oro h2{

        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-color:#333;
        ;
        border-radius : 16px;
        border: 2px solid black
    }
    .oro p{
        font-family: Arial, Helvetica, sans-serif;
        color:whitesmoke;
        font-size: 20px;
        background-color: #333; 

    }

        .plan-c{
            font-family: Arial, Helvetica, sans-serif;
            list-style-type: none;
            text-align: left;
            color: whitesmoke;
            background-color: #31475e;
            margin: 0;
            font-size: 20px;
        }

    







