.card-img {
    max-width: 100%;
    height: auto;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .plan-list {
    list-style-type: disc;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .plan-list li {
    color:$color-text;}